NewAPIImageKey=YOUR_API_KEY_HERE
NewAPIBaseURL=https://site.atopes.de/v1
NewAPIModel=假流式-gemini-3-pro-image-preview
NewAPIProxy=

DIST_IMAGE_SERVERS=

PROJECT_BASE_PATH=H:/VCP/VCPzhangduan/VCPToolBox
SERVER_PORT=6005
IMAGESERVER_IMAGE_KEY=666888
VarHttpUrl=http://localhost